<!doctype html>
<meta charset="utf-8">
<title>jsxstyle</title><%

for (const css in htmlWebpackPlugin.files.css) { %>
<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"><%
}

%>
<div id=".jsx-dot-style"></div><%

for (const chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><%
}

%>
